body{
    background-color: white;
    width: 80%
    
}
.container{
    height: ;
    width: ;
    margin: auto;
    background-color:;
    
}
.header{
    width: 80%;
    height: 30%;
    background-color: #ffffff;
    border: 1px solid snow ;
}
.bgimage{
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    left: 0;
    top: 0;
}