body{
    /* background-color: rgb(238, 236, 236) !important; */
    
    
    
}
.container{
    position: relative;
    width: 85% !important;
    margin: auto !important;
    /* background-color: black; */
    /* display: flex; */
    /* flex-direction: column; */
    /* text-align: center; */
    /* justify-content: center; */
    padding: 10px;
    /* vertical-align: middle !important; */
    
}
.container img{
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    opacity: 0.1;
    object-fit: fill;
    width: 100%;
    height: 100%;
    /* width: 80%; */
    /* margin: auto !important; */
    /* text-align: center; */
    
}
.header{
    width: 60%;
    margin: auto;
    /* height: 30%; */
    /* background-color: #ffffff; */
    /* border: 1px solid snow ; */
    text-align: center;
    padding-top: 10px;
}

form{
    width: 50%;
    margin: auto;
}
div h4{
    text-align: center;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* input{
    background: none !important;
    border: 2px solid green !important;
}
::placeholder{
    color: black !important;
} */