body{
    background-color: rgb(219, 191, 191);
    width: 80%;
    
    
}
.container{
    width: 60%;
    margin: auto;
    /* background-color: black; */
    
}
.container img{
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    left: 0;
    top: 0;
    right: 0;
}
.header{
    width: 80%;
    height: 30%;
    background-color: #ffffff;
    border: 1px solid snow ;
}

form{
    width: 50%;
    margin: auto;
}